{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Fecha del evento</th>
                <td>{{ event.eventDate ? event.eventDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Localización</th>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <th>Participantes Máximos</th>
                <td>{{ event.maxParticipants }}</td>
            </tr>
            <tr>
                <th>Privacidad</th>
                <td>{{ event.getEventType().name }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_index') }}">Volver a la lista</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">Editar</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
